.heading {
  display: block;
  /* padding: 0; */
  text-align: center;
  /* margin: 20px 0px; */
  font-family: Mental Mania;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  font-weight: bold;

}
.cartHeader {
    font-size: 1.2rem;
    font-weight: bold;
}
.cartRow {
    font-size: 18px;
    display: flex;
    
}
.cartColumn {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.carItem {
  width: 5%;

}
.cartPrice {
  width: 50%;
}
.cartQuantity {
  width: 15%;
}
.cartImg {
  width: 80px;
  border-radius: 8%;
  margin-right: 20px;
}
.cartQuantityButton {
  color: white;
  font-weight: bold;
  background: rgb(231, 76, 76);
  cursor: pointer;
  border: none;
  border-radius: 8%;
  height: 30px;
  outline: none;
  padding: 0px 7px;
}
.cartTotal {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.2rem;
  margin: 20px;
}
.totalTitle {
  margin-right: 10px;
  font-size: 1.5rem;
}
.purchaseBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  background: #56CCF2;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8%;
  padding: 12px;
  cursor: pointer;
  
}